.postings-container {
    display: flex;
    justify-content: center;

    padding: 20px;
    gap: 20px;

    flex-wrap: wrap; 
}

.postings-column {
    display: flex;
    flex-direction: column;

    flex: 1;
    max-width: 600px; 

    min-width: 300px; 
    margin: 0 auto;
}

.friends-rec-column {
    width: 300px; 
    flex-shrink: 0; 

}



@media (max-width: 900px) {
    .postings-container {
        justify-content: center; 
    }

    .friends-rec-column {
        display: none; 
    }
}
