.profile-picture, .profile-picture-not-owner {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture:hover {
  cursor: pointer;
  opacity: 0.9;
}

.profile-information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.profile-text {
}

.profile-name {
  font-size: 50px;
  margin: 0;
  font-weight: normal;
}

.profile-username {
  color: grey;
  font-weight: 300;
  margin: 0;
  margin-top: 5px;
}

.profile-bio {
  margin-top: 20px;
}

.friend-button, .edit-profile-button {
  width: 300px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 5px;
}

.friend-button:hover, .edit-profile-button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.unfriend-button {
  background-color: black;
  color: white;
}

.unfriend-button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.profile-friends {
  margin: 0;
  cursor: pointer;
  width: 250px;
}

.profile-friends:hover h1, .profile-friends:hover h2 {
  color: #303030;
}

.profile-friends-count {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.profile-friends-label {
  margin: 0;
  font-size: 29px;
  font-weight: normal;
}

.profile-posts-container {
  display: flex;
  justify-content: center;
}

.profile-posts {
  display: flex;
  flex-wrap: wrap;
  width: 1270px;
  gap: 65px;
}

.profile-post-image {
  object-fit: cover;
  width: 380px;
  height: 380px;
}

.profile-post-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.friends {
  width: 700px;
  height: 550px;
  overflow: auto;
}

.friend-section {
  position: relative;
}

.friend-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.friend-information {
  display: flex;
  gap: 20px;
  max-width: fit-content;
  cursor: pointer;
}

.friend-name {
  font-weight: bold;
  font-size: 18px;
}

.friend-username {
  font-weight: normal;
  color: grey;
}

.friends-unfriend-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: 35px;
  width: 70px;
  cursor: pointer;
  border-radius: 10%;
  border-width: 1px;
}

.edit-profile-form > label {
  margin-right: 10px;
}

.edit-profile-form > br {
  display: block;
  margin: 10px;
  font-size: 100px;
}

.add-post-button {
  width: 100px;
  height: 100px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.space {
  height: 50px;
}

.page-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit-button {
  width: 125px;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
}

.submit-button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.preview-post-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.no-posts {
  display: inline-block;
  text-align: center;
}

.no-posts-container {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.add-post-form-label {
  margin-right: 15px;
}

.form-header {
  margin-bottom: 30px;
}

@media (width <= 1300px) {
  .profile-posts {
    width: 825px;
  }
}

@media (width <= 900px) {
  .profile-posts {
    width: 400px;
  }
}