/* Comment.css */
.comment {
  height: fit-content;
  margin-bottom: 10px;
  position: relative;
}

.comment-text {
  margin: 0;
}

.comment-edit-textarea {
  width: 100%;
  margin-bottom: 5px;
}

.comment-save-btn,
.comment-edit-btn,
.comment-delete-btn,
.comment-show-reply-btn {
  cursor: pointer;
  color: #565656;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.comment-save-btn {
  background-color: green;
  color: white;
}

.comment-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.comment-delete-btn {
  color: white;
  background-color: red;
}

/* CommentList.css */
.comment-list {
  margin-top: 20px;
}

.comment-username {
  font-weight: bold;
  margin-right: 5px;
}

.comment-show-replies-btn {
  font-size: 14px;
  color: #565656;
  margin: 0;
}

.comment-show-replies-btn:hover,
.comment-save-btn:hover,
.comment-edit-btn:hover,
.comment-delete-btn:hover,
.comment-show-reply-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment-edit-btns {
  display: flex;
  gap: 10px;
}
  