.post {
    width: 550px;
    height: 682px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    gap: 5px;
    overflow: auto;
}

.post-handle, .post-interact {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}
.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
}
a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.post-photo {
    object-fit: cover;
    background-color: black;
    max-width: 482px;
    height: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.post-photo-image {
    height: 420px;
    object-fit: cover;
    background-color: black;
    min-width: 420px;
    max-width: 482px;
}

.post-interact {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    gap: 10px;
}

.post-interact-heart, .post-interact-comment {
    width: 40px;
    height: 40px;
}

.post-interact-heart {
    padding-bottom: 2px;
}

.post-interact-heart:active, .post-interact-comment:active {
    width: 36px;
    height: 36px;
    padding-right: 4px;
}

.post-text {
    background-color: transparent;
    margin: 0;
    margin-left: 10px;
}

.post-username {
    font-weight: bold;
    margin-right: 5px;
}

.comment-list {
    margin: 0;
}